*{
    padding: 0;
    margin: 0;
}

header > img {
    width: 60px;
}

nav {
    display: inline;
    text-align: center;
}
main img {
    width: 800px;
} 

main > div > p {
    text-align: center;
}
